In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\cgood\Downloads\form_data.csv")

df

,ID,TIMESTAMP,NEW_SESSION,MAP,PLAYERS,PLAYERS_1ST,PLAYERS_2ND,PLAYERS_3RD,PLAYERS_4TH,CHARACTERS_1ST,CHARACTERS_2ND,CHARACTERS_3RD,CHARACTERS_4TH
0,1,2024-07-17 23:15:48+00:00,NO,Koopa Troopa Beach,3,Cooper,Regan,Garrett,NaN,Peach,Yoshi,Toad,NaN
1,2,2024-07-18 00:01:53+00:00,NO,Choco Mountain,4,Cooper,Connor,Blake,Triston,Luigi,Toad,Peach,Yoshi
2,3,2024-07-18 00:15:00+00:00,NO,D.K.'s Jungle,4,Cole,Regan,Cooper,Triston,Toad,Yoshi,Mario,Peach
3,4,2024-07-18 00:42:27+00:00,NO,Kalimari Desert,4,Regan,Cole,Cooper,Blake,Yoshi,Toad,Mario,Peach
4,5,2024-07-18 01:13:04+00:00,NO,Frappe Snowland,3,Cooper,Regan,Blake,NaN,Mario,Toad,Peach,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670,1671,2024-11-22 00:09:42+00:00,NO,Frappe Snowland,4,Regan,Connor,Cole,Domingo,Yoshi,Peach,Toad,Bowser
1671,1672,2024-11-22 00:38:11+00:00,NO,Kalimari Desert,4,Blake,Colton,Regan,Sudur,Toad,Yoshi,Peach,D.K.
1672,1673,2024-11-22 01:51:27+00:00,NO,Wario Stadium,4,Regan,Connor,Blake,Colton,Toad,Peach,Yoshi,Mario
1673,1674,2024-11-22 03:13:09+00:00,NO,Yoshi Valley,4,Regan,Konnor,Domingo,Colton,Toad,Peach,Bowser,Yoshi
1674,1675,2024-11-22 05:03:49+00:00,NO,Wario Stadium,4,Blake,Domingo,Konnor,Triston,Toad,Yoshi,Bowser,Peach

In [ ]:
from mktools.form_data import form_data_wide_to_long


wide_df = form_data_wide_to_long(form_df=df)

In [4]:
wdf = pd.wide_to_long(
            df=df,
            stubnames=["CHARACTER", "NAME"],
            i=["ID", "TIMESTAMP", "MAP"],
            j="PLACE",
            sep="_",
        ).reset_index()

In [5]:
wdf

Empty DataFrame
Columns: [ID, TIMESTAMP, MAP, PLACE, NEW_SESSION, PLAYERS, PLAYERS_1ST, PLAYERS_2ND, PLAYERS_3RD, PLAYERS_4TH, CHARACTERS_1ST, CHARACTERS_2ND, CHARACTERS_3RD, CHARACTERS_4TH, CHARACTER, NAME]
Index: []